@tailwind base;
@tailwind utilities;
@tailwind components;


@layer utilities {

    html {
        -webkit-print-color-adjust: exact
    }

    .form-label {
        @apply text-sm text-gray-800 font-semibold;
    }

    .form-input {
        @apply p-2 block w-full mt-1 bg-gray-100;
    }

    button:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .btn {
        @apply rounded-full shadow px-4 py-2 text-sm font-semibold;
    }

    .btn-main {
        @apply bg-gray-800 text-white;
    }

    .btn-main:hover {
        @apply bg-gray-600;
    }

    .btn-second {
        @apply bg-white font-bold text-blue-600 text-sm;
    }

    .btn-second:hover {
        @apply bg-blue-600 text-white;
    }

    .btn-red {
        @apply bg-red-600 text-white;
    }

    .btn-red:hover {
        @apply bg-red-700;
    }

    .green-btn {
        @apply bg-tb-green font-semibold px-6 py-2 rounded shadow text-xs font-sans text-white uppercase;
    }

    .green-btn:hover {
        @apply bg-green-400;
    }

    .type-h0 {
        @apply text-6xl font-serif font-bold;
    }

    @media screen and (max-width: 640px) {
        .type-h0 {
            @apply text-5xl;
        }
    }

    .type-h1 {
        @apply text-4xl font-serif font-bold;
    }

    .type-h2 {
        @apply text-2xl font-serif font-medium;
    }

    .type-h3 {
        @apply text-lg font-serif font-bold;
    }

    .type-h4 {
        @apply text-base font-serif font-bold;
    }

    .type-b1 {
        @apply font-sans;
    }

    .type-b2 {
        @apply font-sans font-bold;
    }

    .type-b3 {
        @apply font-sans text-sm;
    }

    .type-b4 {
        @apply font-sans font-semibold text-sm;
    }

    .type-b5 {
        @apply font-serif text-sm;
    }

    .flickity-page-dots .dot.is-selected {
        @apply bg-green-600;
    }

    @media screen and (max-width: 1024px) {
        .main-nav .nav-drawer {
            transition: .3s;
            transform: translate3d(-100%, 0, 0);
        }

        .main-nav.open .nav-drawer {
            transform: translate3d(0, 0, 0);
        }
    }

    .blog-content h1 .blog-content h2, .blog-content h3, .blog-content h4 {
        @apply type-h3 my-4;
    }

    .blog-content p {
        @apply my-6;
    }

    .blog-content .video-embed {
        @apply relative pb-16/9;
    }

    .blog-content iframe {
        @apply absolute inset-0 w-full h-full;
    }

    .blog-content .embeded-code .instagram-media {
        margin: 3rem auto !important;
        min-width: 300px !important;
    }

    .blog-content a {
        @apply text-green-600 underline hover:text-green-800;
    }

    .blog-content img {
        @apply mx-auto;
    }

    .blog-content ul {
        @apply list-disc px-6;
    }

    .blog-content ol {
        @apply list-decimal px-6;
    }


}






